[submodule "config/.vim/bundle/zencoding-vim"]
	path = config/.vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "config/.vim/bundle/nerdtree"]
	path = config/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "config/.vim/bundle/nerdcommenter"]
	path = config/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
