[submodule "config/.vim.symlink/bundle/zencoding-vim"]
	path = config/.vim.symlink/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding.vim.git
[submodule "config/.vim.symlink/bundle/nerdtree"]
	path = config/.vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "config/.vim.symlink/bundle/nerdcommenter"]
	path = config/.vim.symlink/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "config/.vim.symlink/bundle/surround"]
	path = config/.vim.symlink/bundle/surround
	url = https://github.com/tpope.vim-surround
[submodule "config/.vim.symlink/bundle/vst"]
	path = config/.vim.symlink/bundle/vst
	url = https://github.com.vim-scripts/VST
